<h3>Consulta de endereços</h3>
<p>Listagem de endereços cadastrados no sistema</p>

<div class="table-responsive">
    <table class="table table-sm">
        
        <thead>
            <tr>
                <th>Logradouro</th>
                <th>Nº</th>
                <th>Complemento</th>
                <th>Bairro</th>
                <th>Cidade</th>
                <th>UF</th>
                <th>CEP</th>
                <th>Operações</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let e of enderecos">
                <td> {{ e.logradouro }} </td>
                <td> {{ e.numero }} </td>
                <td> {{ e.complemento }} </td>
                <td> {{ e.bairro }} </td>
                <td> {{ e.cidade }} </td>
                <td> {{ e.uf }} </td>
                <td> {{ e.cep }} </td>
                <td>
                    <button class="btn btn-sm btn-primary me-1">Editar</button>
                    <button class="btn btn-sm btn-danger me-1">Excluir</button>
                </td>
            </tr>
        </tbody>

        <tfoot>
            <tr>
                <td colspan="8">Quantidade de clientes: {{ enderecos.length }}</td>
            </tr>
        </tfoot>

    </table>
</div>
