<h3>Consulta de endereços</h3>
<p>Listagem de endereços cadastrados no sistema</p>

<div class="table-responsive">
    <table class="table table-sm">
        
        <thead>
            <tr>
                <th>Logradouro</th>
                <th>Nº</th>
                <th>Complemento</th>
                <th>Bairro</th>
                <th>Cidade</th>
                <th>UF</th>
                <th>CEP</th>
                <th>Operações</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <button class="btn btn-sm btn-primary me-1">Editar</button>
                    <button class="btn btn-sm btn-danger me-1">Excluir</button>
                </td>
            </tr>
        </tbody>

        <tfoot>
            <tr>
                <td colspan="8">Quantidade de clientes: </td>
            </tr>
        </tfoot>

    </table>
</div>
