<h3>Consulta de endereços</h3>
<p>Listagem de endereços cadastrados no sistema</p>

<div *ngIf="mensagem" class="alert alert-primary">
    <strong> {{ mensagem }} </strong>
</div>

<div class="text-center">
    <pagination-controls previousLabel="Página anterior" nextLabel="Próxima página" (pageChange)="handlePageChange($event)"/>
</div>

<div class="table-responsive">
    <table class="table table-sm">
        
        <thead>
            <tr>
                <th>Logradouro</th>
                <th>Nº</th>
                <th>Complemento</th>
                <th>Bairro</th>
                <th>Cidade</th>
                <th>UF</th>
                <th>CEP</th>
                <th>Operações</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let e of enderecos | paginate: { itemsPerPage: 10, currentPage: paginador}">
                <td> {{ e.logradouro | uppercase }} </td>
                <td> {{ e.numero | uppercase }} </td>
                <td> {{ e.complemento | uppercase }} </td>
                <td> {{ e.bairro | uppercase }} </td>
                <td> {{ e.cidade | uppercase }} </td>
                <td> {{ e.uf | uppercase}} </td>
                <td> {{ e.cep | mask: '00000-000' }} </td>
                <td>
                    <button class="btn btn-sm btn-primary me-1">Editar</button>
                    <button class="btn btn-sm btn-danger me-1" (click)="excluirEndereco(e.id)">Excluir</button>
                </td>
            </tr>
        </tbody>

        <tfoot>
            <tr>
                <td colspan="8">Quantidade de clientes: {{ enderecos.length }}</td>
            </tr>
        </tfoot>

    </table>
</div>
